body,
h1,
p {
	/* тут Emmet сделал всё сам по поиску "Roboto" */
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;

	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	line-height: 26px;
	letter-spacing: 0.1em;

	margin: 0;
	padding: 0;

	background-color: #eeeff1;
}

/* wrapper
======================================== */
.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1110px;
	vertical-align: middle;
}

/* header
========================================= */
.header {
	height: 120px;
}

.header-logo {
	display: inline-block;
	vertical-align: middle;
	margin: 0 380px 0 0;
}

.header-logo > img {
	width: 96px;
	height: 60px;
	vertical-align: middle;
}

.header-inner {
	padding: 57px 0 0 0;
	min-width: 1110px;
}

/* navigation
========================================= */
.navigation {
	display: inline-block;
}

.navigation-links {
	margin: 0 0 0 42px;
	font-size: 16px;
	font-weight: 500;
	text-decoration: none;
	color: #000;
}

.navigation-links:first-child {
	margin: 0;
	color: #34547a;
}

/* intro
======================================== */
.intro {
	margin: 120px auto;
	min-width: 1110px;
}

.intro > .wrapper {
	padding-left: 100px;
}

.intro-logo {
	display: inline-block;
	vertical-align: middle;
}

.intro-description {
	display: inline-block;
	width: 49.5%;
	vertical-align: middle;
	margin-left: 130px;
}

.intro-description > h1 {
	font-size: 48px;
	font-weight: 500;
	line-height: 79px;
	font-style: normal;
	letter-spacing: normal;
	text-align: left;
}

.intro-description > p {
	margin: 60px 0 0 0;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: normal;
	color: #727272;
	text-align: left;
}

.intro-button {
	display: block;
	text-decoration: none;
	color: #fff;
	background-color: #34547a;
	width: 255px;
	height: 65px;
	margin: 60px 0 0 0;
	text-align: center;
	line-height: 65px;
}

/* about me
=========================================== */
.about {
	background: #fff;
	padding: 100px 0;
	min-width: 1110px;
}

.about-content {
	margin: 0 auto;
	width: 540px;
}

.about-content > p {
	margin: 50px 0 0 0;
	background: #fff;
	color: #727272;
	letter-spacing: normal;
}

h2 {
	margin: 0;
	font-weight: 500;
	font-size: 32px;
	line-height: 37px;
	text-align: center;
	letter-spacing: normal;
	color: #000000;
}

/* projects
============================================= */
.projects {
	background: #34547a;
	height: 150px;
	padding-top: 100px;
	min-width: 1110px;
}

.projects-container {
	display: inline-block;
	width: 140px;
	margin-right: 48px;
}
.projects-container:last-child {
	margin: 0;
}

.projects-logo {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

.projects-description {
	width: 45%;
	display: inline-block;
	vertical-align: middle;
}

.projects-description > h3 {
	display: inline-block;
	margin: 0;
	color: #fff;
	font-style: normal;
	font-weight: 500;
	font-size: 21px;
	line-height: 25px;
}

.projects-description > p {
	display: inline-block;
	background: #34547a;
	color: #fff;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
}

/* skills
============================================= */
.skills {
	margin: 0px auto;
	min-width: 1110px;
	height: 455px;
	padding: 100px 0;
	background: #fff;
}

.skills > .wrapper {
	vertical-align: middle;
}

.skills-photo {
	display: inline-block;
	vertical-align: middle;
	width: 555px;
	height: 450px;
	text-align: right;
}

.skills-photoshop {
	margin: 0 0 30px 0;
}

.skills-photoshop:last-child {
	margin: 0;
}

.skills-description {
	display: inline-block;
	width: 49%;
	vertical-align: middle;
}

.skills-description > h2 {
	margin: 0 0 50px 0;
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 37px;
	letter-spacing: normal;
	text-align: left;
}

.skills-description > p {
	margin: 0;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: normal;
	color: #727272;
	background: #fff;
}

/* how i work
============================================ */
.work {
	background: #eeeff1;
	padding: 90px 0;
	min-width: 1110px;
	height: 820px;
}

.work-content {
	margin: 0 auto;
}

.work-content > p {
	margin: 50px auto;
	background: #eeeff1;
	color: #727272;
	letter-spacing: normal;
	width: 540px;
	text-align: center;
}

h2 {
	margin: 0;
	font-weight: 500;
	font-size: 32px;
	line-height: 37px;
	text-align: center;
	letter-spacing: normal;
	color: #000000;
}

.work-video {
	width: 1110px;
	height: 600px;
	background-image: url(/img/work/work-video.jpg);
}

/* portfolio
============================================== */
.portfolio {
	height: 930px;
	font-size: 0;
	letter-spacing: 0;
	line-height: 0;
	padding-top: 30px;
	background-color: #fff;
}

.portfolio-image:nth-child(odd) {
	background-image: url(/img/portfolio/portfolio-1.png);
	background-size: cover;
	display: inline-block;
	width: 25%;
	height: 50%;
}

.portfolio-image:nth-child(even) {
	background-image: url(/img/portfolio/portfolio-2.png);
	background-size: cover;
	display: inline-block;
	width: 25%;
	height: 50%;
}

/* microsoft
================================================ */
.microsoft {
	background: #fff;
	min-width: 1110px;
	height: 300px;
}

.microsoft-content {
	margin: 90px 0 0 0;
	display: inline-block;
}

.microsoft-content > img {
	margin: 0 24px 0 0;
}

.microsoft-content > img:last-child {
	margin: 0;
}
