* {
	margin: 0;
	padding: 0;
	border: none;
}

body,
a {
	/* тут Emmet сделал всё сам по поиску "Roboto" */
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;

	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;

	background-color: #eeeff1;
	text-decoration: none;
}

h1 {
	font-size: 48px;
	line-height: 79px;
	font-weight: 500;
	font-style: normal;
	text-align: left;
}

h2 {
	margin: 0;

	font-weight: 500;
	font-size: 32px;
	line-height: 37px;
	text-align: center;
	letter-spacing: normal;

	color: #000000;
}

h3 {
	font-weight: 500;
	font-size: 21px;
	font-style: normal;
	line-height: 25px;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* wrapper
========================================= */
.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1110px;
	vertical-align: middle;
}

/* header
========================================= */
.header {
	height: 120px;
	min-width: 1110px;
}

.header-logo {
	display: inline-block;
	vertical-align: middle;
	margin: 0 380px 0 0;
}

.header-logo > img {
	width: 96px;
	height: 60px;
	vertical-align: middle;
}

.header-inner {
	padding: 57px 0 0 0;
}

/* navigation
========================================= */
.navigation {
	display: inline-block;
}

.navigation-links {
	margin: 0 0 0 42px;
	display: inline-block;
}

.navigation-links > a {
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	color: #000;
}

.navigation-links:first-child {
	margin: 0;
}

.navigation-links > a:hover {
	opacity: 0.9;
	color: #34547a;
	transition: 0.1s linear;
}

/* intro
======================================== */
.intro {
	margin: 120px auto;
	min-width: 1110px;
}

.intro > .wrapper {
	padding-left: 100px;
}

.intro-logo {
	display: inline-block;
	vertical-align: middle;
}

.intro-description {
	display: inline-block;
	width: 50%;
	vertical-align: middle;
	margin-left: 130px;
}

.intro-description > p {
	margin: 60px 0 0 0;
	color: #727272;
	text-align: left;
}

.intro-description .button {
	display: inline-block;
	width: 255px;
	height: 65px;
	margin: 60px 0 0 0;

	color: #fff;
	background-color: #34547a;
	border-radius: 2px;

	text-align: center;
	letter-spacing: 0.1em;
	line-height: 65px;
}

.intro-description .button:hover {
	background-color: #2f4b6e;
	transition: 0.1s linear;
}

/* about me
=========================================== */
.about {
	background: #fff;
	padding: 100px 0;
	min-width: 1110px;
}

.about-content {
	margin: 0 auto;
	width: 540px;
	text-align: center;
}

.about-content > p {
	margin: 50px 0 0 0;
	color: #727272;
}

/* projects
============================================= */
.projects {
	background: #34547a;

	height: 150px;
	padding: 100px 0 0 0;
	min-width: 1110px;
}

.projects-container {
	display: inline-block;
	width: 140px;
	margin: 0 48px 0 0;
}

.projects-container:last-child {
	margin: 0;
}

.projects-logo {
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px 0 0;
}

.projects-description {
	color: #fff;
	width: 50%;
	display: inline-block;
	vertical-align: middle;
}

/* skills
============================================= */
.skills {
	margin: 0px auto;
	min-width: 1110px;
	height: 455px;
	padding: 100px 0;
	background: #fff;
}

.skills-photo {
	display: inline-block;
	vertical-align: middle;
	width: 555px;
	height: 450px;
}

.skill-blue {
	display: inline-block;
	height: 4px;
	width: 350px;
	background: #34547a;
}

.skill-grey {
	display: inline-block;
	height: 4px;
	width: 95px;
	background: #c4c4c4;
	margin: 0 0 0 -5px;
}

.skills-description {
	display: inline-block;
	width: 49%;
	vertical-align: middle;
	margin: 0;
}

.skills-description > h2 {
	margin: 0 0 50px 0;
	text-align: left;
}

.skills-description > p {
	margin: 30px 0 0 0;
	color: #727272;
}

/* how i work
============================================ */
.work {
	background: #eeeff1;
	padding: 90px 0;
	min-width: 1110px;
	height: 820px;
}

.work-content > p {
	margin: 50px auto;
	background: #eeeff1;
	color: #727272;
	width: 540px;
	text-align: center;
}

.work-video {
	width: 1110px;
	height: 600px;
	background-image: url(/img/work/work-video.jpg);
}

/* portfolio
============================================== */
.portfolio {
	height: 930px;
	padding-top: 30px;
	background-color: #fff;

	font-size: 0;
	line-height: 0;
}

.portfolio-image:nth-child(odd) {
	display: inline-block;
	background-image: url(/img/portfolio/portfolio-1.png);
	background-size: cover;
	width: 25%;
	height: 50%;
}

.portfolio-image:nth-child(even) {
	display: inline-block;
	background-image: url(/img/portfolio/portfolio-2.png);
	background-size: cover;
	width: 25%;
	height: 50%;
}

.portfolio-image:hover {
	opacity: 0.9;
	background: url(/img/portfolio/view.svg) #34547a no-repeat center;
}

/* microsoft
================================================ */
.microsoft {
	background: #fff;
	min-width: 1110px;
	height: 300px;
}

.microsoft-content {
	display: inline-block;
	margin: 90px 0 0 0;
}

.microsoft-content > img {
	margin: 0 24px 0 0;
}

.microsoft-content > img:last-child {
	margin: 0;
}

/* web
============================================= */
.web {
	background: #eeeff1;
	min-width: 1110px;
	height: 650px;
}

.web-content {
	margin: 50px auto 0;
	width: 540px;
	text-align: center;
}

.web-content > p {
	margin: 50px 0 65px 0;
	background: #eeeff1;
	color: #727272;
}

.web-personal {
	display: inline-block;
}

.web-content > div:nth-child(odd) {
	margin: 0 30px 0 0;
}

.web-personal > input {
	border: 0;
	width: 232px;
	height: 50px;
	padding: 0 0 0 20px;
	border-radius: 2px;
}

.web-message {
	display: block;
	margin: 20px 0 50px 0;
	padding: 0 0 0 20px;
	width: 519px;
	height: 175px;

	text-align: top;
	border: 0;
	border-radius: 2px;
}

.web-content .button {
	display: inline-block;
	text-decoration: none;
	background: #34547a;
	border-radius: 2px;

	width: 190px;
	height: 55px;
	margin: 0;
	padding: 0 0 10px 0;

	color: #fff;
	text-align: center;
	line-height: 65px;
	letter-spacing: 0.15em;
	text-transform: uppercase;
}

.web-content .button:hover {
	background-color: #2f4b6e;
	transition: 0.1s linear;
}

/* footer
========================================= */
.footer {
	min-width: 1110px;
	padding: 50px 0 0 0;
	height: 100px;
	background: #34547a;
}

.footer .wrapper {
	vertical-align: middle;
}

.footer-content {
	display: inline-block;
	vertical-align: middle;
}

.footer-content > h3 {
	color: #ffffff;
	margin: 0 765px 0 0;
}

.footer-content > p {
	background: #34547a;
	color: #ffffff;
	margin: 20px 0 0 0;
}

.footer-vk {
	display: inline-block;
	vertical-align: middle;
}

.vk-logo {
	display: inline-block;
}

.footer-vk > a {
	background: #34547a;
	width: auto;
	height: 40px;
	margin: 0 0 0 20px;
}

.footer-vk > a:first-child {
	margin: 0;
}
